<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="stylesheet" href="/auth.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
		/>
		<title>Login</title>
	</head>
	<body>
		<%- include('./partials/header') %>

		<div class="content-area">
			<div class="content-container">
				<div id="login-modal" class="modal active">
					<div class="modal-content">
						<div class="categoryWrapper hidden" id="login-wrapper">
							<h1>Already have account?</h1>
							<button id="login-switch">
								<span>
									<span>
										<span data-attr-span="Login"> Login </span>
									</span>
								</span>
							</button>
						</div>
						<div class="form-box show" id="login-box">
							<h2>Sign in</h2>
							<form id="login" method="post" action="/auth/login">
								<div class="form-group">
									<input type="text" name="username" id="l-username" required />
									<label for="l-username">Username/email</label>
								</div>
								<div class="form-group">
									<input
										type="password"
										name="password"
										id="l-password"
										required
									/>
									<label for="l-password">Password</label>
								</div>
								<div class="lupa-password">
									<a href="#">Forgot password?</a>
								</div>
								<div class="form-group submit">
									<button type="submit" class="btn-submit" id="btn-login">
										Login<i class="fa-solid fa-check"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="register-modal" class="modal">
					<div class="modal-content">
						<div class="categoryWrapper show" id="register-wrapper">
							<h1>Doesn't have account?</h1>
							<button id="register-switch">
								<span>
									<span>
										<span data-attr-span="Register"> Register </span>
									</span>
								</span>
							</button>
						</div>
						<div class="form-box hidden" id="register-box">
							<h2>Sign up</h2>
							<form id="register" method="post" action="/auth/login">
								<div class="form-group">
									<input type="text" name="username" id="r-username" required />
									<label for="r-username">Username</label>
								</div>
								<div class="form-group">
									<input type="text" name="email" id="r-email" required />
									<label for="r-email">Email</label>
								</div>
								<div class="form-group">
									<input
										type="password"
										name="password"
										id="r-password"
										required
									/>
									<label for="r-password">Password</label>
								</div>

								<div class="form-group submit">
									<button type="submit" class="btn-submit" id="btn-register">
										Register<i class="fa-solid fa-check"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const loginModal = document.getElementById("login-modal");
			const registerModal = document.getElementById("register-modal");
			const loginForm = document.getElementById("login");
			const registerForm = document.getElementById("register");
			const switchReg = document.getElementById("register-switch");
			const switchLog = document.getElementById("login-switch");
			const loginWrapper = document.getElementById("login-wrapper");
			const registerWrapper = document.getElementById("register-wrapper");
			const loginBox = document.getElementById("login-box");
			const registerBox = document.getElementById("register-box");

			loginForm.addEventListener("submit", (e) => {
				e.preventDefault();
				login();
			});

			registerForm.addEventListener("submit", (e) => {
				e.preventDefault();
				register();
			});

			switchReg.addEventListener("click", _switch);
			switchLog.addEventListener("click", _switch);

			function _switch() {
				registerBox.classList.toggle("hidden");
				loginBox.classList.toggle("hidden");
				loginWrapper.classList.toggle("hidden");
				registerWrapper.classList.toggle("hidden");
				registerBox.classList.toggle("show");
				loginBox.classList.toggle("show");
				loginWrapper.classList.toggle("show");
				registerWrapper.classList.toggle("show");
				loginModal.classList.toggle("active");
				registerModal.classList.toggle("active");
			}

			async function login() {
				const username = document.getElementById("l-username").value;
				const password = document.getElementById("l-password").value;
				const req = await fetch("/login", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ username, password }),
				});
				const data = await req.json();
				if (data.success) {
					return data;
				} else {
					console.log(data);
					return alert(JSON.stringify(data));
				}
			}

			async function register() {
				const username = document.getElementById("r-username").value;
				const email = document.getElementById("r-email").value;
				const password = document.getElementById("r-password").value;
				const req = await fetch("/register", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ username, email, password }),
				});
				const data = await req.json();
				if (data.success) {
					return data;
				} else {
					console.log(data);
					return alert(JSON.stringify(data));
				}
			}
		</script>
	</body>
</html>
